/* Stylowanie całej tabeli */
.table-view {
    -fx-background-color: white;
    -fx-border-color: transparent;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 10, 0, 0, 2);
    -fx-font-family:"Inter 18pt Regular";
    -fx-font-size: 18px;
    -fx-text-fill: #333333;
}

/* Header tabeli */
.table-view .column-header {
    -fx-font-family:"Inter 18pt SemiBold";
    -fx-background-color: #EDEEFD;
    -fx-text-fill: #616161;
    -fx-alignment: ceneter-left;
}
.table-view .column-header-background {
    -fx-background-color: #F5F5F7;
    -fx-background-insets: 0;
    -fx-border-color: transparent;
}

.table-view .column-header,
.table-view .table-cell {
    -fx-border-color: transparent;
}

.table-row-cell {
    -fx-background-color: white;
    -fx-border-color: transparent transparent #E5E5EA transparent;
    -fx-border-width: 0 0 1px 0;
    -fx-padding: 10px 0;
    -fx-alignment: bottom-left;
}


/* Hover na wierszach */
.table-row-cell:hover {
    -fx-background-color: #F5F5F7;
}

/* Komórki tabeli */
.table-cell {
    -fx-padding: 8px 12px;
    -fx-alignment: CENTER_LEFT;
}

/* Usuń focus border */
.table-view:focused .table-row-cell:selected {
    -fx-background-color: #C0D8F9;
    -fx-text-fill: #333333;
}
/* Scrollbar */
.table-view .scroll-bar:vertical {
    -fx-background-color: transparent;
}

.table-view .scroll-bar:vertical .thumb {
    -fx-background-color: #C7C7CC;
    -fx-background-radius: 5px;
}

.table-view .scroll-bar:vertical .thumb:hover {
    -fx-background-color: #AEAEB2;
}

.table-view .scroll-bar:vertical .track {
    -fx-background-color: transparent;
}